<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-survivor-heading" data-cy="SurvivorCreateUpdateHeading" jhiTranslate="tenTenApocLawApp.survivor.home.createOrEditLabel">
        Create or edit a Survivor
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label
            class="form-label"
            jhiTranslate="tenTenApocLawApp.survivor.survivorId"
            for="field_survivorId"
            [ngbTooltip]="'tenTenApocLawApp.survivor.help.survivorId' | translate"
            >Survivor Id</label
          >
          <input
            type="text"
            class="form-control"
            name="survivorId"
            id="field_survivorId"
            data-cy="survivorId"
            formControlName="survivorId"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="tenTenApocLawApp.survivor.name" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="tenTenApocLawApp.survivor.age" for="field_age">Age</label>
          <input type="number" class="form-control" name="age" id="field_age" data-cy="age" formControlName="age" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="tenTenApocLawApp.survivor.gender" for="field_gender">Gender</label>
          <select class="form-control" name="gender" formControlName="gender" id="field_gender" data-cy="gender">
            <option [ngValue]="null">{{ 'tenTenApocLawApp.Gender.null' | translate }}</option>
            <option *ngFor="let gender of genderValues" [value]="gender">{{ 'tenTenApocLawApp.Gender.' + gender | translate }}</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="tenTenApocLawApp.survivor.latitude" for="field_latitude">Latitude</label>
          <input type="text" class="form-control" name="latitude" id="field_latitude" data-cy="latitude" formControlName="latitude" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="tenTenApocLawApp.survivor.longitude" for="field_longitude">Longitude</label>
          <input type="text" class="form-control" name="longitude" id="field_longitude" data-cy="longitude" formControlName="longitude" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="tenTenApocLawApp.survivor.status" for="field_status">Status</label>
          <select class="form-control" name="status" formControlName="status" id="field_status" data-cy="status">
            <option [ngValue]="null">{{ 'tenTenApocLawApp.InfectionStatus.null' | translate }}</option>
            <option *ngFor="let infectionStatus of infectionStatusValues" [value]="infectionStatus">
              {{ 'tenTenApocLawApp.InfectionStatus.' + infectionStatus | translate }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
